<!DOCTYPE html>
<html>
<head>
    <title>Confirm your email address</title>
</head>
<body>
    <h1>Welcome to our E-commerce Store!</h1>
    <p>Hi {{ user.name }},</p>
    <p>Thank you for registering with us. Please click the link below to confirm your email address:</p>
    <p>
        <a href="http://{{ domain }}/confirm-email/{{ uid }}/{{ token }}/">
            Confirm Email
        </a>
    </p>
    <p>If you did not create this account, you can safely ignore this email.</p>
    <p>Best regards,<br>The E-commerce Team</p>
</body>
</html> 